<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RulezzClient.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RulezzClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <RulezzClient.Settings1>
            <setting name="СconnectionString" serializeAs="String">
                <value> Data Source=;Initial Catalog=Rul_base;Integrated Security=true</value>
            </setting>
        </RulezzClient.Settings1>
    </applicationSettings>
    <userSettings>
        <RulezzClient.Properties.Settings>
            <setting name="СconnectionString" serializeAs="String">
                <value> Data Source=;Initial Catalog=Rul_base;Integrated Security=true</value>
            </setting>
        </RulezzClient.Properties.Settings>
    </userSettings>
</configuration>